* {
    padding: 0px;
    margin: 0px;
    transition: 0.5 s;
  }
  .logo {
    line-height: 1;
  }

  @media (min-width: 1200px) {
    .logo {
      width: 130px;
    }
  }

  .logo img {
    max-height: 35px;
    margin-right: 6px;
  }

  .logo span {
    font-size: 26px;
    font-weight: 70;
    color: #012970;
    font-family: "Nunito", sans-serif;
  }
 
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    color: black;
    height: 10%;
    position: fixed;
    z-index: 996;
    width: 100%;
    padding: 20px;
    top: 0;
  }
  nav .links {
    display: flex;
  }
  
  .links p {
    padding: 10px;
    margin-top: 14px;
  }
   .links p .logout{
    right: 0;
  }
  #mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    color: black;
    display: none;
    position: absolute;
    left: 0;
    height: 100%;
    width: 70vw;
    background-color: #fff;
    box-shadow: 5px 10px 20px 0px rgba(1, 41, 112, 0.1);
    position: fixed;
  }
  @media (max-width: 600px) {
    #mobile-menu-btn {
      display: block;
    }
    nav p {
      display: none;
    }
    div p a button{
        width: 90%;
        padding: 0;
    }
    .mobile-menu {
      top: 10%;
      display: none;
      flex-direction: column;
      z-index: 996;
    }
  }
  #main {
    margin-top: 5%;
    padding: 20px 30px;
    transition: all 0.3s;
  }

  @media (max-width: 799px) {
    #main {
      margin-top: 20%;
      padding: 20px;
    }
  }
 
  .footer {
    padding: 20px 0;
    font-size: 14px;
    transition: all 0.3s;
    border-top: 1px solid #cddfff;
  }

  .footer .copyright {
    text-align: center;
    color: #012970;
  }

  .footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #012970;
  }