  /* =======================================================================
Template Name: Youtubers
Author:  SmartEye Technologies
Author URI: www.smarteyeapps.com
Version: 1.0
coder name:Prabin Raja
Description: This Template is created for Youtubers
======================================================================= */
/* ===================================== Import Variables ================================== */
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:300,400,400italic,700,700italic);
/* ===================================== Basic CSS ==================================== */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: #444;
}

a:hover {
  color: #444;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none;
}


.form-01-main,html,body{
  height: 100%;
   background-color: #DBE4F6;

}
.form-01-main {
    padding: 40px 0px;
    background-image: url(../images/bglogin.png);
    background-position: center;
    background-size: 100%;
    /* background-repeat: no-repeat; */
    position: relative;
    text-align: center;
    background-color: #dbe4f6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* width:100%; */
    z-index: 1;
}

.form-cover {
    position: absolute;
    content: "";
    /* background-color: #899bbd; */
    /* background: rgba(0,0,0,0.8); */
    bottom: 0;
    top: 0;
    width: 100%;
    left: 0;
    z-index: -1;
    height: 100%;
    overflow: auto;
}

.form-sub-main{
    max-width:500px;
    max-height: 500px;
    width:100%;
    display:block;
    margin:20px auto;
    background-color: #f6f9ff;
    border-radius: 20px;
    filter: drop-shadow(20px 15px 4px #bdbdbd);
    padding: 0px 40px 10px;
}
 @media screen and (max-width:820px){
      .form-sub-main{
        padding: 15px;
      }
  }

/* .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    /* color: #fff; */
/* } */

.form-sub-main{
    color:#545454;
    font-size:16px;
    margin-top: 5%;
}

.form-sub-main .form-group label{
    display:flex;
    /* color:#fff; */
}

/* .form-group{
    display:flex;
} */

.form-group .form-control:focus{
    background:transparent;
    box-shadow:none;
    border-color:#495057;
    color:#495057;
}

.btn_uy{
  position:relative;
  z-index:9;
  display:block;
  margin-top:20px;
  background: #f6f9ff;
}

.btn_uy a {
    padding: 10px 10px;
    /* background: #37a000; */
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    line-height: normal;
    border-radius: 5px;
    /* color: #fff; */
    width: 100%;
    position: relative;
    display: inline-block;
    cursor:pointer;
}
/* .headersign{
    display: flex;
} */

.liaht{
    display: flex;
}

._main_head_as{
  display: block;
  z-index:2;
  position:relative;
}

._main_head_as a img{
  height:100px;
  width:100px;
  position:relative;
  border-radius:50px;
}

.logo {
    position: fixed;
    width: 40%;
    height: 40%;
    left: -16.5%;
    top: 1%;
}

.footer {
    position: fixed;
    bottom: 0;
    margin: 5px;
    padding: 5px;
}

@media (max-width: 820px){
    .footer{
        display: none;
    }
    .logo{
        display: none;
    }
    .llogo{
        display: none;
    }
}
